@import './assets/styles/markdown.less';

body {
  position: relative;
  font-family: 'Chinese Quote', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', 'Helvetica Neue',
    Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol' !important;
  line-height: 2 !important;
  color: #555 !important;
}

ol,
ul {
  list-style: none;
  padding: 0;
}

.ant-back-top-icon {
  background-size: contain;
}
